
*{
    margin:0;
    padding: 0;
    border: border-box;
    
}
h1{
    background-color: green;
    margin-bottom: 50px;
    height: 5rem;
    line-height: 5rem;
    text-align: center;

}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}
.choice:hover{
    opacity: 50%;
    background-color: black;
    
}


.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    
    
}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    
}

#msg{
    background-color: green;
    display: inline;
    text-align: center;
    padding: 5px;
    font-size: 2rem;
    border-radius: 1rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
    margin-top: 2rem;
}

.msg-container{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}